<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="/css/output.css" rel="stylesheet">

  <style>
    body {
      background: radial-gradient(circle at top, #191b86, #020b34);
    }

    .glass {
      background: rgba(11, 4, 47, 0.39);
      backdrop-filter: blur(12px);
      border: 1px solid rgb(0, 242, 255);
    }

    .neon {
      box-shadow: 0 0 10px #ff00f2, 0 0 20px #ff00f2;
    }
  </style>
</head>

<body class="text-white min-h-screen">

<!-- NAVBAR -->
<nav class="flex justify-between items-center p-4 glass">
  <i><h1 class="text-xl text-violet-500 font-bold">AWOS System</h1></i>

  <div class="space-x-4">
    <a href="/" class="hover:text-yellow-500 bg-gradient-to-r from-purple-600 to-cyan-500 px-4 py-2 rounded  w-full">Inicio</a>
    <a href="/ai" class="hover:text-yellow-500 bg-gradient-to-r from-purple-600 to-cyan-500 px-4 py-2 rounded  w-full">IA</a>
    <a href="/payment" class="hover:text-yellow-500 bg-gradient-to-r from-purple-600 to-cyan-500 px-4 py-2 rounded  w-full">Pagos</a>
    <a href="/planner" class="hover:text-yellow-500 bg-gradient-to-r from-purple-600 to-cyan-500 px-4 py-2 rounded  w-full">Planner</a>
  </div>
</nav>

<div class="container mx-auto p-6"></div>