<%- include('partials/header', { title: 'IA' }) %>

<div class="max-w-2xl mx-auto glass p-6 rounded-xl">

  <i><h2 class="text-2xl text-violet-500 font-semibold">Asistente IA</h2></i>

  <form method="POST" action="/ai/generate">
    <input name="prompt"
      class="w-full p-3 text-black rounded mb-2"
      placeholder="Escribe tu mensaje...">
      
    <button class="bg-gradient-to-r from-purple-600 to-cyan-500 px-4 py-2 rounded  w-full">
      Enviar
    </button>
  </form>

  <% if (response) { %>
    <div class="mt-4 bg-gray-900 p-4 rounded border border-purple-500">
      <%= response %>
    </div>
  <% } %>

</div>

<%- include('partials/footer') %>